body {
}
.envelope-container {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	opacity: 0;
	animation: dudu 3s ease 5.8s 1 alternate forwards;
	transform-origin: 0 0;
	z-index: 1;
}
.envelope {
	width: 336px;
	height: 336px;
	overflow: hidden;
	position: relative;
	transition: all ease;
	animation: tremble 1s infinite;
	margin: auto;
}
.envelope--base {
	top: 150px;
	z-index: 2;
	width: 330px;
	height: 181.5px;
	position: relative;
	border-radius: 6px;
	border: 3px solid #00000024;
	background-color: rgb(254, 168, 182);
}
.envelope__tab {
	left: 42px;
	z-index: 1;
	bottom: 39px;
	width: 318px;
	height: 210px;
	position: absolute;
	transform: rotateZ(45deg);
	border-top-left-radius: 45px;
	background-color: pink;
	border: 3px solid #00000024;
}
.envelope__letter {
	left: 43.5px;
	z-index: 3;
	width: 237px;
	bottom: 25.5px;
	height: 150px;
	cursor: pointer;
	font-size: 19.5px;
	font-style: oblique;
	padding: 18px 27px;
	border-radius: 12px;
	position: absolute;
	box-sizing: border-box;
	background-size: cover;
	color: #a59090;
	border: 1.5px solid #00000024;
	transition: all 0.6s linear 0.4s;
	background-image: url("https://i.pinimg.com/564x/bd/27/23/bd2723cccfec31aeb82b41034fdd2933.jpg");
}
.envelope:hover .envelope__letter {
	height: 300px;
	color: #4c4444;
}

.envelope__letter:before {
	content: "";
	height: 0;
	width: 9px;
	right: -53px;
	bottom: -25.5px;
	position: absolute;
	border-top: 84px solid transparent;
	border-left: 160.5px solid pink;
	border-right: 160.5px solid pink;
	border-bottom: 97.5px solid rgb(255, 174, 187);
}
@keyframes tremble {
	0% {
		transform: rotate(-1deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes dudu {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
